<div id="instructions-modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span> 
        <h3>Editor Shortcuts & Controls</h3>
        <div class="keyboard-panel">
            <div class="instruction-line">
                <span class="key-hint">Q</span> - DEBUG PIXEL LOC
            </div>
            <div class="instruction-line">
                <span class="key-hint">W</span> - MARK GRID AS DONE/UNDONE
            </div>
            <div class="instruction-line">
                <span class="key-hint">E</span> - CREATE DOT
            </div>
            <div class="instruction-line">
                <span class="key-hint">R</span> - REMOVE DOT
            </div>
            
            <div class="instruction-line pan-line">
                <span class="key-hint">RMB</span> + DRAG - PAN IMAGE
            </div>
        </div>
    </div>
</div>