{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <title>Egglytics</title>
    </head>
    
    <header class="main-header">
        <span class="header-brand" onclick="window.location.href='/'" style="cursor:pointer;">Egglytics</span>
        <nav class="header-nav">
            <a href="/" class="nav-link">Upload</a>
            <!-- <a href="/edit" class="nav-link">Annotate</a> -->
            <a href="/view" class="nav-link">Results</a>
            <a href="/login" class="nav-link">Login</a>
        </nav>
    </header>
    
    <body>
        <div class="main-content">
            {% include included_template %}
        </div>
    </body>
</html>